<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<div class="nav">
  <div class="nav-item">
    <LinkTo @route="home">
  Home
</LinkTo>
</div>
<div class="nav-item ml-2">
  <LinkTo @route="about">
About
</LinkTo>
</div>
</div>

</nav>

{{#if this.isLoading}}
Loading..
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
  Fetching items...
</div>
{{/if}}

  <div>

{{outlet}}
</div>
