<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<div class="nav">
  <div class="nav-item">
    <LinkTo @route="home">
  Home
</LinkTo>
</div>
<div class="nav-item ml-2">
  <LinkTo @route="about">
About
</LinkTo>
</div>
</div>

</nav>

{{#if this.isLoading}}

{{/if}}
{{outlet}}
{{outlet "edit"}}
