<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<div class="nav">
  <div class="nav-item">
  {{#link-to "home"}}
  Home
  {{/link-to}}
</div>
<div class="nav-item ml-2">
  {{#link-to "about"}}
  About
  {{/link-to}}
</div>
</div>

</nav>


  <div>
{{outlet}}
</div>
